.dialog-block-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px 0;
  width: fit-content;
  gap: 24px;
}

.dialog-block-container > * {
  box-sizing: border-box;
}
