.dialog-input-wrapper {
  position: relative;
  width: 100%;
  height: 50px;
  max-height: 50px;
  padding: 16px 20px;
  border: 1px solid #d9d9d9;
  border-radius: var(--dialog-theme-cta-border-type, 24px);
  background: #ffffff;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.dialog-input-container {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: 100%;
}

.dialog-ask-anything-input-ai-input {
  outline: unset;
  box-shadow: unset;
  border: unset;
  width: 100%;
  font-size: 16px;
  background: transparent;
  padding-right: 35px;
}

.dialog-input-submit {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dialog-theme-primary-color);
  position: absolute;
  cursor: pointer;
  top: calc(50% - 20px);
  right: 4px;
  border: unset;
}

.dialog-input-submit:disabled {
  opacity: 0.5;
}
