.dialog-block-suggestions-item {
  border-radius: 18px;
  background-color: #f1f1f1;
  border: none;
  outline: none;
  padding: 12px 16px;
  width: fit-content;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  align-items: center;
  gap: 8px;
  border: 1px solid #dddce2;
  border-radius: 24px;
}

.dialog-block-suggestions-item:hover {
  transform: scale(1.01);
}

.dialog-block-suggestions-item-label {
  color: var(--dialog-theme-content-color, #575665);
  font-size: var(--dialog-theme-content-font-size, 14px);
  font-weight: 500;
  text-align: left;
  flex: 1;
}

.dialog-block-suggestions-item-icon path {
  stroke: var(--dialog-theme-primary-color);
}
